.background-white {
    background-color: white;
}

.charts-container-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.charts-container-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row1 {
    margin-bottom: 20px;
}

.col1 {
    flex-grow: 1;
}

.col2 {
    flex-grow:1;
}