.container-dashboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.modal-relative {
    position: fixed;
    bottom: 0;
}

.top-15 {
    top: 15%!important;
}

.top-10 {
    top: 10%!important;
}


.container-all {

}

.overflow-body {
    overflow: hidden;
}

.top-80 {
    top: 80% !important;
}

.be-first { 
    width: 600px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    top: 95%;
    transform: translate(-50%,-50%)!important;
    left: 50%;
}

.last-toast{
    margin-bottom: 50px!important;
}


.progress-upload {
    width: 100%;
}

.first-level {
    z-index: 999999;
}

.img-float-right {
    width: 100px;
    float: right;
}

.anomaly-div { 
    background-color: red;
}