.padding-top-200 {
    padding-top: 200px;
}

.scrollAble{
    overflow-y: scroll;
}

.footer{
    background-color: #212529!important; 
    width: 100%;
}
/* 
html,body{
background-image: url('https://image.freepik.com/free-vector/waving-blue-circuit-microchip-technology-future-background_34926-163.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
} */

.login-card{
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: #14373e !important;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
height: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

.input-group {
    padding-bottom: 20px;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.login-button {
    text-align: center;
}

.loading-spinner{
    text-align: center;
    padding-bottom: 15px;
}

.remember{
color: white;
padding-bottom: 15px;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


.card-picked {
    border-color: #3b3b82;
    border-width: 5px;
}


.pagination-navbar {
    display: flex;
    justify-content: center;
}

.header-my-uploaded {
    color: white;
    padding-top: 20px;
}

.header-upload-for-processing {
    color: white;
    padding-top: 20px;
}

.header-my-processing {
    color: white;
    padding-top: 20px;
}

.header-alerts {
    color: white;
}